.wc-nofrixion-overlay {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(0%, -50%);
	background: #EEE;
	display: none;
	width: 700px;
	max-width: 100%;
}

#nf-payframe {
	position: relative;
}

.hidden {
	display: none;
}

.nf-bank-button {
	background: white;
	border-radius: 0.5rem;
	border-width: 1px !important;
	border-color: #cccccc;
	margin: 0.5rem;
	padding: 0.5rem;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	width: auto;
}

.nf-bank-button-selected {
	background: #eeeeee;
	outline: 2px solid #7f54b3;
}

.nf-bank-button:focus {
	background: #eeeeee;
	border: 1px solid #cccccc;
}

.nf-bank-button:hover {
	background: #eeeeee;
	border: 1px solid #cccccc;
}